*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.left-container{
    width: 20%;
    margin-left: 20px;
}

.center-container{
    width: 45%;
    border: 1px solid rgb(238, 232, 232);
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    padding: 5px 0px;
}

/* left-container */

.left-container>.logo>img{
    height: 30px;
    margin: 5px;
}

/* left navigation bar */
.left-nav>ul{
    list-style: none;
}

.left-nav{
    display: flex;
    align-items: center;
}

.left-nav>ul>li{
    margin:20px 10px;
    font-size: 1.3rem;
}

.left-nav>ul>li>i{
    width: 10px;
    margin-right: 25px;
}

.small-profile>.content>p{
    font-weight: bold;
}

.small-profile>.content>span{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
}

.post-btn{
    height: 45px;
    width: 90%;
    background-color: #1d9bf0;
    border-radius: 60px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

/* small profile area */
.profile-pic{
    height: 50px;
    border-radius: 50%;
    margin: 10px 5px;
}

.small-profile{
    display: flex;
    align-items: center;
}

.small-profile>.content{
    margin-right:10px;
}

/* right container */

.search-box{
    height: 35px;
    border-radius: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(231, 228, 228);
}

.search-box>input{
    width:80%;
    outline: none;
    border: none;
    background-color:rgb(231, 228, 228);
    font-size: 1.1rem;
}

.search-box>i{
    margin: 0px 12px;
}

/* subscribe-area */

.subscribe-area,.tred-area{
    width: 100%;
    border: 1px solid rgb(238, 232, 232);
    border-radius: 10px;
    padding: 10px 16px;
    margin: 5px 5px;
}

.subscribe-area>h3{
    font-weight: bold;
    font-size: 1.2rem;
}

.subscribe-area>.sub-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    height: 30px;
    width: 100px;
    border-radius: 40px;
    text-align: center;
    margin-block: 5px;
    font-weight: bold;
}

/* tred area */

.tred-area,.left-area{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tred-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 10px;
}

.left-area>p{
    font-weight: bold;
}

.grey{
    color: rgb(134, 130, 130);
}

.blue{
    color: #1d9bf0;
}

a{
    text-decoration: none;
}

a>i{
    color: black;
}

/* center post area */

.center-post-area{
    border-bottom: 1px solid rgb(238, 232, 232);
    margin-top: 10px;
}

.up-opt{
    display: flex;
    justify-content: space-around;
    padding-block: 12px;
    border: 1px solid rgb(238, 232, 232);
}

.center-post-area>.inside>.box-content-area>img{
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.inside,.social-opt{
    padding: 5px 18px;
}

.post-img{
    padding: 5px 10px 5px 30px;
}

.post-img>img{
    width: 100%;
    border-radius: 10px;
}

.inside,.box-content-area{
    display: flex;
    align-items: center;
}

.inside{
    justify-content: space-between;
}

.first-row>p{
    font-weight: 600;
}

/* like share area */

.social-opt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
}

.first-row>p>span{
    font-size: .85rem;
}

.column-1,.column-2{
    display: flex;
    padding: 0px 2px 5px 18px;
}

.column-1{
    gap: 40px;
}

.column-2{
    gap: 15px;
}

.social-opt>.column-1>a{
    color: black;
}

.social-opt>.column-1>a>i{
    margin-right: 5px;
}


